.left {
    width: 70%;
    top: 0px;
    float: left;
    height: 100%;
    position: absolute;
}
.right {
    width: 28%;
    /* border: 1px solid #aa2a4b; */
    height: 100%;
    float: right;
    position: fixed;
    right: 0;
    top: 0px;
}
.lunbo {
    list-style: none;
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    /* position: fixed; */
}

.lunbo {list-style: none; float: left;  position: relative;width: 100%}
.lunbo img{height: 100% ;width: 100%;display: inline-block;float: left}
.code{width: 100%;height: 100%}
.yzm input {
    line-height: 30px;
    font-size: 24px;
    color: red;

}
.label{
    text-align: center;
    color: #fff;
    background-color: red;
    font-size: 30px;
}